.angular
dist
node_modules
.env
C:\Users\Gustavo Passos\Desktop\Develop\PastoralApp\pastoral-frontend\src\environments\environment.development.ts
C:\Users\Gustavo Passos\Desktop\Develop\PastoralApp\pastoral-frontend\src\environments\environment.ts