.loading-spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;

  .spinner {
    border-radius: 50%;
    border-style: solid;
    border-color: #f3f3f3;
    border-top-color: #667eea;
    animation: spin 1s linear infinite;
  }

  .loading-message {
    margin-top: 1rem;
    color: #666;
    font-weight: 500;
  }

  &[data-size="small"] {
    .spinner {
      width: 30px;
      height: 30px;
      border-width: 3px;
    }

    .loading-message {
      font-size: 0.875rem;
    }
  }

  &[data-size="medium"] {
    .spinner {
      width: 50px;
      height: 50px;
      border-width: 5px;
    }

    .loading-message {
      font-size: 1rem;
    }
  }

  &[data-size="large"] {
    .spinner {
      width: 70px;
      height: 70px;
      border-width: 6px;
    }

    .loading-message {
      font-size: 1.125rem;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}